.container {
  position: fixed;
  top: 12rem;
  left: 0;
  width: 33.333%;
  height: calc(100vh - 12rem);
  background-color: #eee;
  font-size: 1.3rem;
  transform: translateX(100%);
  overflow-y: scroll;
  transition: all 0.2s;
  z-index: 103;
}

.header {
  height: 12rem;
  width: 33.333%;
  position: fixed;
  background-color: #eee;
  top: 0%;
  transform: translateX(100%);
  font-size: 2rem;
  transition: all 0.2s;
  z-index: 103;
}
.groupDisplay .container,
.groupDisplay .header {
  z-index: 1007;
}
.groupContainer > * {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  transition: all 0.2s;
  z-index: 103;
}

.header_icon {
  background-color: #00bfa5 !important;
  height: 6rem;
  display: grid;
  grid-template-columns: 6fr 10fr;
  align-items: center;
  font-weight: 500;
}

.header_icon div {
  transform: translateX(3rem);
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0s 0.5s;
}
.header_icon div:active {
  background-color: rgb(94, 207, 192);
  transition: 0s;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  transition: all 0.2s;
}
.focused .input {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.input input {
  border: none;
  height: 4rem;
  width: 80%;
  border-radius: 0 50rem 50rem 0;
  font-size: 1.4rem;
  transform: translateX(-0.1rem);
}
.message {
  height: 1.5rem;
  display: flex;
}
.message p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 2rem;
}

.unread {
  width: 15%;
  display: flex;
  justify-content: flex-end;
}
.unread p {
  padding: 0 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  border-radius: 50rem;
  background-color: #06d755;
  color: #fff;
}
.user_msg {
  /* white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden; */
  transform: translateY(5px);
  padding-right: 5px;
}
.msg_bold > * {
  font-size: 1.5rem;
  font-weight: 600;
}
.msg_bold .user_msg {
  transform: translateY(6px);
}
.user_msg .msg {
  font-weight: 500;
}
.msg_parent {
  width: 85%;
  height: 2rem;
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.icons {
  width: 5rem;
  background-color: #fff;
  border-radius: 50rem 0 0 50rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.icons > * {
  position: absolute;
  transition: all 0.2s;
}
.icons .HiOutlineArrowLeft {
  opacity: 0;
  visibility: hidden;
  transform: rotate(-135deg);
}
.BiSearchAlt {
  opacity: 1;
  visibility: visible;
  transform: rotate(0deg);
}

.focused .icons .HiOutlineArrowLeft {
  opacity: 1;
  visibility: visible;
  transform: rotate(0deg);
}

.focused .BiSearchAlt {
  opacity: 0;
  visibility: hidden;
  transform: rotate(135deg);
}
.group {
  display: grid;
  grid-template-columns: 5.5rem minmax(10rem, 1fr);
  column-gap: 1rem;
  align-items: center;
  height: 6rem;
  width: 100%;
  text-overflow: ellipsis;
}
.group > *:first-child {
  justify-self: center;
}
.group:hover {
  background-color: rgb(209, 207, 207);
  cursor: pointer;
}

.group img {
  height: 4rem;
  width: 4rem;
  border-radius: 50rem;
  justify-self: center;
}

.metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.metadata h2 {
  transform: translateY(0.5rem);
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  width: 78%;
}
.metadata p {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.text_body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 6rem;
}

.no_chats {
  width: 100%;
  height: calc(100vh - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.5;
}
@media only screen and (max-width: 768px) {
  .container {
    width: 100vw;
  }
  .header {
    width: 100vw;
  }
}
