.container {
  /* display: flex; */
  /* justify-content: space-between; */
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
.not_loaded * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.loaded {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
