.newGroup {
  position: fixed;
  z-index: 103;
  display: flex;
  flex-direction: column;
  height: 85%;
  background-color: #eee;
}
.newGroup__hide {
  transform: translateX(100%);
  position: fixed;
  z-index: 103;
  transition: all 0.2s;
}
.container {
  width: 33.333vw;
  background-color: #eee;
  transform: translateX(100%);
  font-size: 1.6rem;
  overflow-y: scroll;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
  z-index: 101;
  max-height: 64vh;
}
.newGroup .container {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}

.header {
  font-size: 1.6rem;
  z-index: 102;
  transition: all 0.2s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}
.newGroup .header {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
}
.input {
  min-height: 8rem;
  width: 33.333vw;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: flex-end;
  top: 6rem;
  background-color: #eee;
}
.input input {
  border: none;
  width: 90%;
  background-color: #eee;
  height: 4rem;
  align-self: flex-end;
}
.input_border {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  width: 90%;
  transform: translateY(-0.7rem);
  align-self: flex-end;
}

.searched_contacts {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  max-height: 30vh;
  overflow-y: scroll;
}

.searched_contact {
  align-self: flex-start;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50rem;
  transform: translateX(3rem);
  margin-top: 0.5rem;
}

.name p {
  margin: 0% 1rem;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}

.cancel {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50rem;
  transition: all 0.5s;
  margin-right: 0.3rem;
}
.cancel:hover {
  cursor: pointer;
  background-color: #eee;
}
.cancel span {
  margin-right: 0.8rem;
  width: 1rem;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  transform: rotate(135deg) translate(-0.3rem, -0.3rem);
}
.cancel span::after {
  content: "";
  width: 1rem;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  transform: rotate(90deg) translateX(-0.8rem);
}

.searched_contact img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}
.ctn_header {
  background-color: #00bfa5;
  height: 6rem;
  width: 33.333vw;
  display: grid;
  grid-template-columns: 1fr 6fr;
  align-items: center;
  column-gap: 2rem;
}
.ctn_header div {
  justify-self: end;
  cursor: pointer;
}
.contacts {
  display: grid;
  grid-template-columns: 1fr 6fr;
  column-gap: 1rem;
  height: 6rem;
  align-items: center;
  position: relative;
  top: 6rem;
}
.contacts:hover {
  background-color: rgb(209, 207, 207);
  cursor: pointer;
}
.profile_img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-left: 1rem;
  cursor: pointer;
}
.user_header {
  height: 6rem;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.user_header > * {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  width: 25vw;
}

.user_header h2 {
  transform: translateY(1rem);
}

.user_header p {
  font-size: 1.3rem;
}
.footer {
  background-color: rgb(209, 207, 207);
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 33.333vw;
  bottom: 0%;
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 0.2s;
}

.newGroup .footer {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}
.continue {
  height: 4.5rem;
  width: 4.5rem;
  background-color: #09e85e;
  border-radius: 50rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
  transition: all 0.2s;
}

.continue__show .continue {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100vw;
  }
  .contacts {
    grid-template-columns: 1fr 12fr;
  }
  .input {
    width: 100%;
  }
  .input_border {
    width: 91%;
  }
  .header {
    width: 100vw;
  }
  .ctn_header {
    width: 100vw;
  }
  .searched_contact {
    transform: translateX(7rem);
  }
  .footer {
    width: 100vw;
  }
  .user_header > * {
    width: 80vw;
  }
}
